# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Virtual environments
# ==============================
venv/
.venv/
env/
ENV/

# ==============================
# Raw / large datasets
# ==============================
online_retail_II.xlsx
data/raw/

# Large generated datasets
data/cleaned/retail_customer_analysis.csv
data/cleaned/retail_master_cleaned.csv
data/cleaned/retail_sales.csv

# ==============================
# OS / IDE
# ==============================
.DS_Store
Thumbs.db
.vscode/

# ==============================
# Python cache
# ==============================
.pytest_cache/
.mypy_cache/

# ==============================
# Temporary files
# ==============================
*.tmp
*.temp